#root {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.navigation-container {
    position: fixed;
    margin: 0px;
    font-size: 20px;
    background-color: #000000;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin: 5px;
}

.homepage {
  display: flex;
  margin-top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.aboutpage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 136, 0);
}

.projectspage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 238, 0);
}

.contactpage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(60, 255, 0);
}

.title {
  
}