.navigation-container {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    background-color: #000000;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin: 5px;
}