@import url("Variables.css");

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-container {
    width: 100%;
    overflow-y: scroll;
    height: 90vh;
    scrollbar-width: none;
}

.page::-webkit-scrollbar {
    display: none;
}
