@import url("Variables.css");

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}