@import url("Variables.css");

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-preview-container {
    background-color: var(--color-2);
    width: 300px;
    height: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-preview-image {
    background-color: var(--color-1);
    width: 275px;
    height: 200px;
    margin-top: 15px;
    border-radius: 25px;
    object-fit: cover;
}

.project-preview-title {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-text);
}

.project-preview-description {
    margin-top: 10px;
    font-size: 1.0em;
    font-weight: 400;
    color: var(--color-text);
}