@import url("Variables.css");

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.project-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 415px;
}

.project-preview-card {
    background-color: var(--color-2);
    width: 300px;
    height: 400px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    transition-duration: 0.1s;
}

.project-preview-image {
    background-color: var(--color-1);
    width: 275px;
    height: 200px;
    margin-top: 15px;
    border-radius: 25px;
    object-fit: cover;
}

.project-preview-title {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--color-text);
}

.project-preview-description {
    margin-top: 10px;
    font-size: 1.0em;
    font-weight: 400;
    color: var(--color-text);
}

.project-preview-card:hover {
    transform: scale(1.05);
    border: solid 2px var(--color-accent);
}