:root {
    --color-1: rgb(255, 255, 255);
    --color-2: rgb(230, 230, 230);
    --color-text: rgb(31, 31, 31);
    --color-accent: rgb(255, 187, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-1: rgb(43, 43, 43);
        --color-2: rgb(31, 31, 31);
        --color-text: rgb(255, 255, 255);
        --color-accent: rgb(255, 217, 0);
    }
}